* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 1500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#map {
    display: flex;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
}

.branch {
    display: flex;
    justify-content: center;
    font-size: 7em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.hero {
    background-image: url('./images/giving_quotes.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    object-fit: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero img {
    width: 100%;
    height: 130dvh;
    overflow: hidden;
    position: relative;
}

.hero h1 {
    position: absolute;
    font-size: 48px;
    margin-top: 130px;
    font-size: 7em;
    animation: typewriter 3s steps(30) infinite, blinkTextCursor 0.5s infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 800px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }

    to {
        border-right-color: transparent;
    }
}

.hero ul {
    margin-top: 290px;
}

.hero p {
    font-family: serif;
    font-size: 1em;
}

.impact {
    padding: 10px;
}

.impact h2 {
    position: absolute;
    left: 90px;
    margin-top: 90px;
    font-size: 1.8em;
}

.impact p {
    position: absolute;
    left: 130px;
    margin-top: 133px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.impact i {
    position: absolute;
    left: 250px;
    margin-top: 163px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.impact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 250px;
    margin-right: 450px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
}

.impact li {
    margin: 10px;
}

.impact li:hover{
    transition: .5s;
    transform-origin: top right;
    transform: scale(1.02);
}

.impact img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4em;
    color: #fff;
}

#bank {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group label{
    color: #fff;
  }

fieldset {
    position: absolute;
    background-color: #0082e6;
    left: 67%;
    margin-top: 70px;
}

.logo-type {
    display: flex;
    justify-content: center;
    margin-right: 30%;
    gap: 20px;
}

.logo-type img {
    border-radius: 50px;
}

.logo-type img:hover {
    transition: .5s;
    transform-origin: top right;
    transform: scale(1.08);
}

strong {
    color: #2c3e50;
    position: absolute;
    left: 71%;
    margin-top: 30px;
    font-size: 1.7em;
}

.payment-request strong {
    color: #fff;
    position: absolute;
    left: 10%;
    margin-top: 10px;
    font-size: 1.08em;
}

.payment-request {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 690px;
}

#payment-form {
    max-width: 500px;
    margin: 40px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: -5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

nav {
    background: #ffffff;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

label.logo img {
    font-size: 50px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    padding: 7px 13px;
    font-size: 17px;
    text-transform: uppercase;
    transition: color 0.5s ease-out;
    transition-duration: 0.2s;
}

a.active,
a:hover {
    color: #d40c27;
    transition: .5s;
    transform-origin: top right;
    transform: scale(1.02);
}

.home {
    width: 100%;
    height: 110dvh;
    overflow: hidden;
    position: relative;
}

.home img {

    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.checkbtn {
    font-size: 30px;
    color: orangered;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

i {
    margin-right: 5px;
}

@media screen and (max-width:920px) {
    nav {
        justify-content: center;
    }

    a {
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}