* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 1500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.location {
    display: flex;
    justify-content: center;
   margin-bottom: 300px;

}

.branch {
    display: flex;
    justify-content: center;
    font-size: 6em;
    margin: 100Px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.hero {
    background-image: url('./images/giving_quotes.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    object-fit: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero img {
    width: 100%;
    height: 130dvh;
    overflow: hidden;
    position: relative;
}

.hero h1 {
    position: absolute;
    font-size: 48px;
    margin-top: 130px;
    font-size: 7em;
    animation: typewriter 3s steps(30) infinite, blinkTextCursor 0.5s infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 800px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }

    to {
        border-right-color: transparent;
    }
}

.hero ul {
    margin-top: 290px;
}

.hero p {
    font-family: serif;
    font-size: 1em;
}

.impact {
    padding: 10px;
}

.impact h2 {
    position: absolute;
    left: 90px;
    margin-top: 90px;
    font-size: 1.8em;
}

.impact p {
    position: absolute;
    left: 130px;
    margin-top: 133px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.impact i {
    position: absolute;
    left: 250px;
    margin-top: 163px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.impact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 250px;
    margin-right: 450px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
}

.impact li {
    margin: 10px;
}

.impact li:hover {
    transition: .5s;
    transform-origin: top right;
    transform: scale(1.02);
}

.impact img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4em;
    color: #fff;
}

#bank {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-group label {
    color: #333;
}

fieldset {  
    position: absolute;
    background-color: #0082e6;
    left: 67%;
    margin-top: 60px;
    
}

.logo-type {
    display: flex;
    justify-content: center;
    margin-right: 40%;
    margin-top:100px ;
    gap: 30px;
}

.logo-type img {
    border-radius: 50px;
}

.logo-type img:hover {
    transition: .5s;
    transform-origin: top right;
    transform: scale(1.08);
}

strong {
    color: #2c3e50;
    position: absolute;
    left: 69%;
    margin-top: 60px;
    font-size: 1.7em;
}

.payment-request strong {
    color: #fff;
    position: absolute;
    left: 25%;
    margin-top: 10px;
    font-size: 1.08em;
}

.payment-request {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 770px;
    margin-left: -25px;
    margin-top: 100px;
}

#payment-form {
    width: 400px;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: -5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;      
}
  




