* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   overflow-x: hidden;
}

.live-stream-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 200px;

   iframe {
      width: 50%;
      height: 50%;
      object-fit: cover;
   }
}

.element {
   color: #343434;
   position: relative;
   top: 140px;
   left: 35%;
   font-size: 450%;
}


.element-type-1 {
   color: rgb(29, 164, 218);
   position: absolute;
   bottom: 400px;
   left: 400px;
   align-content: center;
   font-size: 150%;
   letter-spacing: 3px;
}

.item2 {
   display: flex;
   align-content: center;
   align-items: center;
   margin-left: 55%;
   padding: 50px;
}

.language-button {
   background-color: #d40c27;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 1.3em;
   height: 50px;
   padding: 15px;
   margin: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.language-options a {
   text-decoration: none;
   color: #337ab7;
}

.language-options li {
   display: flex;
   margin-bottom: 15px;
   width: 200px;
   align-items: center;
   justify-content: center;
}

.language-options :hover {
   background-color: #23527c;
   color: #ffffff;
}

.language-options {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   padding: 10px;
   list-style: none;
   margin: 0;
   padding: 0;
   cursor: pointer;
}

.item2 .element2 {
   color: #ffffff;
   background-color: #2c3e50;
   border-radius: 5px;
   display: inline-block;
   font-size: 23px;
   padding: 9px 9px;
   text-align: center;
   text-decoration: none;
}

.element-type-2 {
   display: flex;
   justify-content: center;
   align-content: center;
   position: absolute;
   top: 790px;
   left: 410px;
   padding: 10px;
   transition-duration: 0.2s;
}

.accepted {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f18930;
   flex-wrap: wrap;
   font-size: 1.5em;
   margin-top: 500px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.connected {
   display: flex;
   font-size: 3em;
   color: #2c3e50;
   cursor: pointer;
   justify-content: center;
   margin-bottom: 25px;
}

.hidden-button {
   display: none;
}

/* Button container styles */
.button-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;top: 0;
   right: 0;
   margin: 20px;
   z-index: 1000;

}

.button, .button-container{
   position: absolute;
   top: 210px;
   right: 150px;
}

/* Button styles */
.button {
   position: relative;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #4CAF50;
   color: #fff;
   cursor: pointer;
   z-index: 1;
}

.button:hover {
   background-color: #3e8e41;
}

/* Form container styles */
.form-container {
   display: none;
   position: absolute;
   background-color: #fff;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container button{
   margin: 10px;
}

/* Form styles */
form {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

label {
   font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;

}

input[type="submit"] {
   background-color: #4CAF50;
   color: #fff;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #3e8e41;
}

.error {
   color: red;
   font-size: 12px;
}

/* Positioning of form containers */
#alter-call-form {
   top: 50px;
   left: 0;
}


#first-time-worshipper-form {
   top: 50px;
   left: 150px;
}

#testimonies-form {
   top: 50px;
   left: 300px;
}

#prayer-request-form {
   top: 50px;
   left: 450px;
}

.never-miss-an-update {
   display: flex;
   color: rgb(29, 164, 218);
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}


footer {
   display: flex;
   justify-content: center;
   background-color: #343434;
}

.container {
   width: 1300px;
   display: flex;
   justify-content: center;
   margin: 70px;
}

.footer-content {
   width: 33.3%;
   font-size: 17px;
   margin-top: 10px;
   margin-left: 80px;
}

h4 {
   color: #fff;
   font-size: 28px;
   margin-bottom: 15px;
   text-align: center;
}

.footer-content p {
   width: 190px;
   margin: auto;
   padding: 7px;
}

.footer-content ul {
   text-align: center;
}

.list {
   padding: 0;
}

.list li {
   color: white;
   width: auto;
   text-align: center;
   list-style-type: none;
   padding: 7px;
   position: relative;
}

.list li::before {
   content: '';
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 100%;
   width: 0;
   height: 2px;
   background-color: #f18930;
   transition-duration: .5s;
}

.list li:hover::before {
   width: 70px;
}

.social-icons {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 0;
}

.social-icons li {
   display: inline-block;
   text-align: center;
   padding: 5px;
}

.social-icons i {
   color: white;
   font-size: 25px;
}

a {
   text-decoration: none;
   color: #fff;
}

a:hover {
   color: #f18930;
}

.social-icons i:hover {
   color: #f18930;
}

.footer-bottom {
   background-color: #f18930;
   margin-top: 350px;
   width: 150%;
   position: absolute;
}

.footer-bottom p {
   display: flex;
   justify-content: center;
}

p {
   color: #fff;
   margin: 0;
   font-size: 16px;
   padding: 7px;
}

.background {
   transition: filter 0.3s ease-in-out;
}

.blur-background {
   filter: blur(5px);
   pointer-events: none;
}