* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

body {
   display: grid;
   place-items: center;
   overflow-x: hidden;
   align-items: space-around;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.group-items {
   margin-top: 100px;
}

.live-stream-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   overflow: hidden;
   margin-right: 100px;
   margin-top: 200px;

   iframe{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.element {
   color: #343434;
   position: relative;
   top: 140px;
   font-size: 450%;
}

/* @keyframes slideOut {
   0% {
      transform: translate(5%) scale(0);
   }

   100% {
      transform: translate(-10%) scale(1);
   }
} */

.element-type-1 {
   color: rgb(29, 164, 218);
   position: absolute;
   bottom: 400px;
   right: 400px;
   align-content: center;
   font-size: 150%;
   letter-spacing: 3px;
}

.item2 {
   display: flex;
   align-content: center;
   align-items: center;
   margin: 0;
   padding: 35px;
}

.language-button {
   background-color: #d40c27;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 1.3em;
   height: 50px;
   padding: 15px;
   margin: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.language-options a {
   text-decoration: none;
   color: #337ab7;
}

.language-options li {
   display: flex;
   margin-bottom: 15px;
   width: 200px;
   align-items: center;
   justify-content: center;
}

.language-options :hover {
   background-color: #23527c;
   color: #ffffff;
}

.language-options {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   padding: 10px;
   list-style: none;
   margin: 0;
   padding: 0;
   cursor: pointer;
}

.item2 .element2 {
   color: #ffffff;
   background-color: #2c3e50;
   border-radius: 5px;
   display: inline-block;
   font-size: 23px;
   padding: 9px 9px;
   text-align: center;
   text-decoration: none;
}

.element-type-2 {
   display: flex;
   justify-content: center;
   align-content: center;
   position: absolute;
   top: 790px;
   left: 410px;
   padding: 10px;
   transition-duration: 0.2s;
}

.accepted {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   font-size: 1.5em;
   margin-top: 750px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden-button {
   display: none;
}

.toggle-button {
   display: inline-block;
   padding: 5px;
   line-height: 50px;
   background-color: #2c3e50;
   color: #ffffff;
   border: none;
   cursor: pointer;
}

fieldset {
   display: flex;
   position: absolute;
   /* flex-wrap: wrap; */
   border: 1px solid black;
   justify-content: center;
   align-items: center;
   height: 50vh;
   left: -60px;
}

#alter-call {
   position: relative;
   top: 780px;
   left: 70px;
}

#first-time-worshipper {
   position: relative;
   top: 700px;
   left: 370px;
}

#testimonies {
   position: relative;
   top: 700px;
   left: 800px;
}

#prayer-request {
   position: relative;
   top: 700px;
   left: 1080px;
}

.toggle-button:hover {
   background-color: #3e8e41;
}

.toggle-button,
.hidden-details fieldset {
   display: flex;
   justify-content: center;
   align-items: center;

}

.stay-connected {
   align-items: center;
   position: absolute;
   font-size: 5em;
   justify-content: center;
   margin-top: 980px;
}

/* footer {
   gap: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

footer p {
   display: flex;
   justify-content: center;
   color: white;
} */

.never-miss-an-update {
   display: flex;
   color: rgb(29, 164, 218);
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-bottom: 290px;
}


footer {
   display: flex;
   margin-top: -200px;
   justify-content: center;
   background-color: #343434;
}

.container {
   width: 1300px;
   display: flex;
   justify-content: center;
   margin: 70px;
}

.footer-content {
   width: 33.3%;
   font-size: 17px;
   margin-top: 10px;
   margin-left: 80px;
}

h4 {
   color: #fff;
   font-size: 28px;
   margin-bottom: 15px;
   text-align: center;
}

.footer-content p {
   width: 190px;
   margin: auto;
   padding: 7px;
}

.footer-content ul {
   text-align: center;
}

.list {
   padding: 0;
}

.list li {
   color: white;
   width: auto;
   text-align: center;
   list-style-type: none;
   padding: 7px;
   position: relative;
}

.list li::before {
   content: '';
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 100%;
   width: 0;
   height: 2px;
   background-color: #f18930;
   transition-duration: .5s;
}

.list li:hover::before {
   width: 70px;
}

.social-icons {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 0;
}

.social-icons li {
   display: inline-block;
   text-align: center;
   padding: 5px;
}

.social-icons i {
   color: white;
   font-size: 25px;
}

a {
   text-decoration: none;
   color: #fff;
}

a:hover {
   color: #f18930;
}

.social-icons i:hover {
   color: #f18930;
}

.footer-bottom {
  background-color: #f18930;
 margin-top: 350px;
 width: 150%;
 position: absolute;
}
.footer-bottom p{
   display: flex;
   justify-content: center;
}

p {
   color: #fff;
   margin: 0;
   font-size: 16px;
   padding: 7px;
}